.header{
    background-color: purple;
    height: 70px;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 35px;
}
.headerBrand{
    color: white;
}
.logiBtn{

}
.leftContent{
    display: flex;
    align-items: center;
}
.leftContent h2{
    margin: 0 0 0 10px;
}
.topSection{
    background-color: purple;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
}
.topSection p{
    margin: 0 0 0 10px;
    font-size: 20px;
}
.tabs button{
    width: 50%;
    max-width: none !important;
}
.hometabs button{
    width: 50%;
    max-width: none !important;
}
.hometabs .PrivateTabIndicator-colorSecondary-4{
    background-color: blue !important;
}
.requiredDiv{
    display: flex;
    height: 40px;
    width: 200px;
    background-color: #545151;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5px;
}
.bookappBtn{
    background-color: #21dd1e !important;
}
.cardActions button{
    width: 45%;
    margin: auto;
}